.container {
    margin: 3rem 0 !important;
}

.stat {
    margin: 0 1rem !important;
}

.infected {
    border-bottom: 5px solid #3f51b5;
}

.recoveries {
    border-bottom: 5px solid #2ef41f;
}

.deaths {
    border-bottom: 5px solid #f44336;
}

@media (max-width: 770px) {
    .stat {
        margin: 0.5rem !important;
    }
}
