.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title {
    margin-top: 2rem !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title > img {
    height: 4.5rem;
    margin-right: 0.5rem;
}

.pageLoading {
    height: 0.4rem !important;
}

@media (max-width: 770px) {
    .title {
        flex-direction: column;
    }

    .title > img {
        margin-right: 0;
        margin-bottom: 0.5rem;
    }

    .title > h3 {
        margin-bottom: 0.5rem;
    }
}
